<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ioproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDNz3Z5cKhWmdu_GBTH6e76FIV83aWFrGY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.ioproject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.agh.view.addevent.EventAddActivity"
            android:label="@string/title_activity_event_add"
            android:parentActivityName="com.example.ioproject.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ioproject.MainActivity" />
        </activity>
        <activity
            android:name="com.example.ioproject.EventAddActivity"
            android:label="@string/title_activity_event_add"
            android:parentActivityName="com.example.ioproject.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ioproject.MainActivity" />
        </activity>
        <activity
            android:name="pl.edu.agh.view.eventdescription.EventDescriptionActivity"
            android:label="@string/title_activity_event_description" >
        </activity>
        <activity
            android:name="pl.edu.agh.view.adddefaultlocalization.AddDefaultLocalizationActivity"
            android:label="@string/title_activity_add_default_localization" >
        </activity>
        <activity
            android:name="pl.edu.agh.view.addevent.ConstantEventAddActivity"
            android:label="@string/title_activity_constant_event_add"
            android:parentActivityName="com.example.ioproject.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ioproject.MainActivity" />
        </activity>
        <activity
            android:name="pl.edu.agh.view.onetimelocalization.OneTimeLocalizationActivity"
            android:label="@string/title_activity_one_time_localization" >
        </activity>
        <activity
            android:name="pl.edu.agh.view.defaultlocalizationlist.DefaultLocalizationListActivity"
            android:label="@string/title_activity_default_localization_list" >
        </activity>
        <activity
            android:name="pl.edu.agh.view.showlocationsonmap.ShowLocationsOnMapActivity"
            android:label="@string/title_activity_show_locations_on_map" >
        </activity>
        <activity
            android:name="pl.edu.agh.view.help.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>